{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    ["lodash", { "id": ["lodash", "recompose"] }]
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
